@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@import "compass";
@import 'foundation_and_overrides';
@import 'vendor/icomoon';
@import 'vendor/animate/animate';

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx)";

html, body { height: 100%; }
body {
  font-family: 'Avenir Next';
}

.nav {
  background-color: hsla(1, 12, 100, 0.7);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 2vh;
  width: 100vw;
  height: 50px;
  font-size: 28px;
  line-height: 50px;
  display: table;
  table-layout: fixed;

  li {
    display: table-cell;
    text-align: center;

    a {
      color: #AEBBC9;
      text-shadow: 0 0 0 #000;

      &:hover {
        color: #805841;
      }
    }
  }
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-bottom: 10vh;
}

.intro {
  background-color: #FFFCDD;
  padding-top: 20vh;
  text-align: center;

  h1 {
    @include tada(2s, 0.2s, ease, both, hidden);

    font-family: 'Alex Brush', cursive;
    font-size: 82px;
  }
  h2 {
    font-family: 'Avenir Next';
    font-size: 32px;
    font-weight: 500;
  }
  h3 {
    @include swing(2s, 3s, ease, both, visible);

    font-family: 'Alex Brush', cursive;
    color: #AD6676;
  }
  h4 {
    @include bounceInDown(2s, 5s, ease, both, hidden);
  }
}

.photos {
  padding-top: 20vh;
  text-align: center;
  background-color: #DCF7F3;

  ul {
    margin: 0;
  }

  h3 {
    margin: 30px 0 0 0;
    font-family: 'Avenir Next';
    color: #805841;
    font-weight: 100;
  }

  .photo {
    @include tada(3s, 1s, ease, both, hidden);

    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 0 auto;
    box-shadow: 0 0 10px #F5A2A2;
    background-size: 300px;
  }
  .photo-jun {
    background-image: image-url('jun.jpg');

    @media #{$retina} {
      background-image: image-url('jun@2x.jpg');
    }
  }
  .photo-xiang {
    background-image: image-url('xiang.jpg');
    @media #{$retina} {
      background-image: image-url('xiang@2x.jpg');
    }
  }
}

.venue {
  #map-canvas {
    width: 100vw;
    height: 100vh;
  }
}

.day {
  padding-top: 20vh;
  background-color: #805841;
  text-align: center;

  h1 {
    color: #FFFCDD;
    font-weight: 100;
  }
  h2 {
    color: #FFFCDD;
  }
}

