.row.welcome
  .large-12.columns
    section.hero.row
      .hero-body.large-5.large-offset-7.small-12.columns
        p.hero-names 林俊&原香

        .hero-info
	        p.hero-date 2014.01.01
	        p.hero-place 明溪县幸福大酒店
	        p.hero-time 晚 五点三十分

    section.place.row
      #map-canvas

